
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        Welcome @ViewBag.CurrentUser
        <a class="btn btn-primary" href="/Account/LogOut">Log Out!</a>
    </div>
</body>
</html>
