
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>YeniOlustur</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <h2>Add New Student</h2>
        </div>
        <div class="col-lg-6 col-sm-12">
            <form role="form" action="/Home/Ekle" method="post">
                <input name="Name" class="form-control" placeholder="enter Name"/>
                <input name="Surname" class="form-control" placeholder="enter Surname"/>
                <input name="Age" class="form-control" placeholder="enter Age"/>
                <div class="text-right">
                    <button type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
