
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>getCookie</title>
</head>
<body>
    <div> 
        Kullanici Adi: @ViewBag.userV<br />
        Password: @ViewBag.userVp
    </div>
</body>
</html>
