
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @Html.ActionLink("Login Page", "login")
        @Html.ActionLink("get method page","GetMethod", new { ID=4})
    </div>
</body>
</html>
